.header {
    width: 100%;
    background: var(--white);
    position: sticky;
    top: 0;
    z-index: 900;

    .topBar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.0625rem;

        .menuToggle {
            display: none;
            cursor: var(--cursor-pointer), pointer;
        }

        @media screen and (max-width: 75.375rem) {
            padding-right: 1.25rem;
            padding-left: 1.25rem;

            .menuLogo {
                width: 10.2rem;
                height: 1.5rem;
            }
        }

        @media screen and (max-width: 36.375rem) {
            height: 4.625rem;;

            .menuToggle {
                display: flex;
            }
        }
    }

    .right {
        min-width: 1.4375rem;
    }

    .nav {
        width: 100%;
        border-top: 0.0625rem solid var(--gray-100);
        border-bottom: 0.0625rem solid var(--gray-100);
        display: flex;
        justify-content: center;
        align-items: center;

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 2.0625rem;

            .menuItem {
                list-style: none;
                font-weight: 500;
                font-size: 1rem;
                color: var(--black);
                padding-top: 1.3125rem;
                padding-bottom: 1.25rem;
                cursor: var(--cursor-pointer), pointer;

                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 0.3125rem;

                position: relative;

                &:hover {
                    .submenu {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

        @media screen and (max-width: 36.375rem) {
            display: none;
        }
    }
}



