.postItem {
    width: 22.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .postItemImage {
        width: 100%;
        height: 15rem;
    }

    .postItemTag {
        font-weight: 700;
        font-size: 0.8125rem;
        color: var(--red);
        line-height: 0.8125rem;
    }

    .postItemTitle {
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--black);
        line-height: 1.875rem;
    }

    .postItemMeta {
        display: flex;
        align-items: center;
        column-gap: 0.3125rem;

        .postItemAuthor {
            font-weight: 500;
            font-size: 0.75rem;
            color: var(--black);
            line-height: 0.75rem;
        }

        .postItemDate {
            font-weight: 400;
            font-size: 0.75rem;
            color: var(--gray-250);
            line-height: 0.75rem;
        }

        .postItemViews {
            font-weight: 400;
            font-size: 0.75rem;
            color: var(--gray-250);
            line-height: 0.75rem;
        }

        .postItemDate::before,
        .postItemViews::before {
            content: "•";
            margin: 0 0.3125rem;
            color: var(--gray-130);
        }
    }

    .postItemText {
        font-weight: 400;
        font-size: 0.875rem;
        color: var(--gray-200);
        line-height: 1.25rem;
    }
}
